@import url(navigation.css);
* {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
body {
	font-size: 12px; background: url(../images/bg.gif) #e7eff5 repeat-x 0px 0px; 
	margin: 37px 0px 10px; cursor: default; color: #000; line-height: 18px; 
	font-family: 'lucida grande',arial,sans-serif; text-align: center;
}

hr.style17 {
	border-top: 1px solid #dc6f04;
	border-left: 0;
	border-bottom: 0;
	border-right: 0;
	text-align: center;
}
hr.style17:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #fff;
	color: #dc6f04;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

hr.style16 { 
	border-top: 1px dashed #dc6f04;
	border-left: 0;
	border-bottom: 0;
	border-right: 0;
	margin-top: 25px;
} 
hr.style16:after {
	content: '\002702';
	display: inline-block;
	position: relative;
	top: -12px;
	left: 40px;
	padding: 0 3px;
	background: #fff;
	color: #dc6f04;
	font-size: 18px;
}

img{
	max-width: 100%;
}
div {
	text-align: left
}
.cleaner {
	clear: both
}
h1 {
	font-weight: normal; margin-bottom: 18px; color: #2b5275; line-height: 18px
}
h2 {
	font-weight: normal; margin-bottom: 18px; color: #2b5275; line-height: 18px
}
h3 {
	font-weight: normal; margin-bottom: 18px; color: #dc6f04; line-height: 18px;/*#935b42*/
}
h7 {
	font-weight: normal; margin-bottom: 18px; color: #2b5275; line-height: 18px
}
h6 {
	font-weight: normal; margin-bottom: 13px; color: #990000; line-height: 15px
}
h30 {
	font-weight: normal; margin-bottom: 10px; color: #2b5275; line-height: 18px
}
h4 {
	font-weight: normal; margin-bottom: 18px; color: #2b5275; line-height: 18px
}
h5 {
	font-weight: normal; margin-bottom: 18px; color: #2b5275; line-height: 18px
}
h1 {
	display: none
}
h6 {
	font-size: 13px; padding-bottom: 5px; border-bottom: #e7eff5 1px solid
}
h3 {
	font-size: 17px; padding-top: 10px;  color: #0e8c00;     font-weight: bold;
}
h7 {
	font-size: 17px; padding-bottom: 10px; border-bottom: #e7eff5 1px solid
}
h30 {
	font-size: 17px; padding-bottom: 10px; border-bottom: #e7eff5 10px solid;
}
h4 {
	font-weight: bold; font-size: 13px; color: #699bc9;
}
p {
	margin-bottom: 10px;
}
ul {
	margin-bottom: 18px;
}
ol {
	margin-bottom: 18px;
}
.padtop10{
	padding-top: 10px;
}
.padbot10{
	padding-bottom: 10px;
}
ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul li
{
	background-image: url(../images/li-bullet.gif);
	background-repeat: no-repeat;
	background-position: 0 .6em;
	padding-left:15px;
}
ol li
{
	background-repeat: no-repeat;
	background-position: 0 .6em;    
	padding-left: 4px;
    margin-left: 15px;
}
a {
	background: url(../images/a-underline.gif) repeat-x 100% 100%; PADDING-BOTTOM: 1px; color: #699bc9; TEXT-DECORATION: none
}
a:hover {
	color: #2b5275
}
.hide {
	display: none
}
span {
	display: none
}
.divider {
	background: #e7eff5; float: left; margin: 15px 0px; width: 438px; height: 1px
}
p.error {
	font-weight: bold; font-size: 11px; width: 438px; color: #f58f16
}
.left {
	float: left
}
.right {
	float: right
}
.error {
	color: #f58f16
}
.nofloat {
	float: none
}
body.sitemap a#sitemap {
	color: #003366
}
body.accessibility a#accessibility {
	color: #003366
}
body.contact a#contact {
	color: #003366
}
body.terms a#terms {
	color: #699bc9
}
body.privacy a#privacy {
	color: #699bc9
}
body.customer a#customer {
	color: #699bc9
}
h2 {
	text-indent: -4000px; height: 30px
}
#container {
	margin: 0px auto; width: 950px
}
#accessibilitylinks {
	display: none
}
#container-left {
    margin-top: 35px;
    /*background: url(../images/bg-left.gif) transparent no-repeat 0px 0px; */
    background: #32283d;
    float: left;
    width: 20px;
    height: 600px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
/*#container-right {
	margin-top: 35px; background: url(../images/bg-right.gif) #699bc9 no-repeat 0px 0px; 
	float: left; width: 210px; height: auto;
}*/
#container-right {
	margin-top: 65px;
	background: #32283d;
	float: left;
	width: 210px;
	height: auto;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}
#container-center {
	background: #fff; float: left; width: 720px
}
address {
	padding-left: 20px; font-size: 11px; 
	/*background: url(../images/bg-address.gif) #e7eff5 no-repeat 0px 0px;*/ 
	color: #699bc9; padding-top: 40px; font-style: normal
}
#wrapper {
	display: inline; float: left; margin: 0px 10px; width: 700px;
}
#header {
	background: url(../images/bg-header.gif) #fff no-repeat 0px 0px; 
	float: left; width: 720px; height: 140px;
}
/*#logo {
	display: inline; background: url(../images/a-logo.gif) no-repeat 0px 0px; float: left; margin: 22px 0px 0px 35px; width: 267px; height: 71px
}*/
#logo {
    display: inline;
    background: url(../images/IVEMADEIT_Final.jpg) no-repeat 0px 0px;
    float: left;
    margin: 22px 0px 0px 15px;
    width: 290px;
    height: 90px;
    background-size: contain;
}
#footer {
	margin-top: 10px; background: url(../images/bg-footer.gif) #e7eff5 no-repeat 0px 0px; float: left; width: 720px; height: 52px
}
#disclaimer {
	display: inline; background: url(../images/bg-ifg.gif) #e7eff5 no-repeat 665px 20px; float: left; width: 720px; padding-top: 20px
}
#disclaimer p {
	padding-right: 80px; padding-left: 10px; font-size: 11px; padding-bottom: 10px; margin: 0px; color: #9bbddb; padding-top: 0px
}
#copyright {
	display: inline; font-size: 11px; float: left; margin: 16px 0px 0px 10px; color: #b9bcbe
}
#headerlinks {
	display: inline; float: right; margin: 6px 15px 0px 0px; text-transform: lowercase; 
}
#headerlinksa {
	display: inline; float: right; margin: 6px 15px 0px 0px; text-transform: lowercase; 
}
#footerlinks {
	display: inline; float: right; margin: 6px 10px 0px 0px; text-transform: lowercase
}
#footerlinks {
	margin-top: 16px
}
#headerlinks li {
	padding-right: 10px; display: inline; padding-left: 0px; background: none no-repeat right top; float: left; padding-bottom: 0px; margin: 0px; padding-top: 0px; height: 19px
}
#headerlinksa li {
	padding-right: 15px; display: inline; padding-left: 10px; background: url(../images/bg-header-divider1.gif) no-repeat right top; float: left; padding-bottom: 0px; margin: 0px; padding-top: 0px; height: 19px
}
#footerlinks li {
	padding-right: 10px; display: inline; padding-left: 10px; background: url(../images/bg-header-divider.gif) no-repeat right top; float: left; padding-bottom: 0px; margin: 0px; padding-top: 0px; height: 19px
}
#footerlinks li {
	background: url(../images/bg-footer-divider.gif) no-repeat right top
}
#headerlinks li.last {
	padding-right: 0px; padding-left: 10px; background: none transparent scroll repeat 0% 0%; padding-bottom: 0px; padding-top: 0px
}
#headerlinks li.last {
	padding-right: 0px; padding-left: 10px; background: none transparent scroll repeat 0% 0%; padding-bottom: 0px; padding-top: 0px
}
#footerlinks li.last {
	padding-right: 0px; padding-left: 10px; background: none transparent scroll repeat 0% 0%; padding-bottom: 0px; padding-top: 0px
}
#headerlinks a {
	font-size: 14px; background: none transparent scroll repeat 0% 0%; color: #f6921d; white-space: nowrap;
}
#headerlinksa a {
	font-size: 14px; background: none transparent scroll repeat 0% 0%; color: #0a8ee8; white-space: nowrap;
}
#footerlinks a {
	font-size: 11px; background: none transparent scroll repeat 0% 0%; color: #2b5275; white-space: nowrap;line-height: 12px;
}
#headerlinks a:hover {
	color: #d3771c;
}
#headerlinksa a:hover {
	color: #0a436d;
}
#footerlinks a:hover {
	color: #699bc9;
}
#content {
	margin-top: 10px; float: left; width: 700px
}
#content-left {
	float: left; width: 232px
}
#content-right {
	display: inline; float: right; margin: 18px 10px; width: 438px
}
#content-right h3 {
    width: 90%;
}
#content-right h3, #content h3{
	display: inline-block;
}
.topup{
	display: inline-block;
    float: right;
    padding-top: 10px;
}
.stylingthis{
	
}
#content-right a {
	text-transform: none
}
#content-right a:hover {
	background: url(../images/a-underline.gif) #f2f6f9 repeat-x 100% 100%
}
#advert {
	margin-top: 10px; float: left; width: 700px
}
#advert-left {
	/*background: url(../images/homebanner_image.gif) #699bc9 no-repeat 0px 0px;*/
    /*width: 457px;
    height: 257px;*/
    width: 467px;
    height: 170px;
    float: left;
    overflow: hidden;
}
#advert-right {
	background: url(../images/homebanner_image2.gif) no-repeat 0px 0px;
    float: right;
    width: 210px;
    height: 144px;
    padding: 10px 10px 0px 10px;
    border: 1px solid #aaa;
    border-radius: 15px;    
}
#advert-left1 {
	background: url(../images/homebanner_image3.jpg) #699bc9 no-repeat 0px 0px; float: left; width: 457px; height: 144px
}
#advert-left2 {
	background: url(../images/homebanner_image4.jpg) #699bc9 no-repeat 0px 0px; float: left; width: 457px; height: 144px
}
#advert-left3 {
	background: url(../images/homebanner_image5.jpg) #699bc9 no-repeat 0px 0px; float: left; width: 457px; height: 144px
}
#core-values {
	background: none url(../images/bg-corevalues.gif) #e7eff5 no-repeat 100% 100%; float: left; text-transform: lowercase
}
#core-values1 {
	background: none /*url(../images/bg-corevalues.gif) #e7eff5*/ no-repeat 100% 100%; float: left; text-transform: lowercase
}
#core-values h3 {
	padding-right: 0px; padding-left: 10px; background: none /*url(../images/bg-corevalues.jpg)*/ no-repeat 0px 0px; padding-bottom: 30px; margin: 0px; width: 232px; padding-top: 10px; height:10px;
}
#core-values ul {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 15px 20px 74px 10px; padding-top: 0px
}
#core-values ul li {
	font-size: 14px; background: url(../images/bg-corevalues-arrow.gif) no-repeat left center; margin: 5px 0px; color: #699bc9
}
#core-values a.more {
	display: block; background: url(../images/btn-fom.gif) no-repeat 0px 0px; margin: 10px 10px 10px 14px; width: 127px; height: 36px
}
#core-values a.more:hover {
	background-position: 0px -36px
}
#trail {
	margin-top: 10px; background: url(../images/bg-trail.gif) #e7eff5 repeat-x 0px 0px; float: left; text-transform: lowercase; width: 700px; border-bottom: #9dbad3 1px solid; height: 29px
}
#opportunities {
	margin-top: 10px; background: url(../images/bg-trail.gif) #e7eff5 repeat-x 0px 0px; float: left; text-transform: lowercase; width: 700px; border-bottom: #9dbad3 1px solid; height: 29px
}
#trail h3 {
	padding-right: 0px; display: inline; padding-left: 0px; float: left; padding-bottom: 0px; margin: 5px 0px 5px 14px; border-top-style: none; padding-top: 0px; border-right-style: none; border-left-style: none; height: 18px; border-bottom-style: none
}
#opportunities h3 {
	padding-right: 0px; display: inline; padding-left: 0px; float: left; padding-bottom: 0px; margin: 5px 0px 5px 14px; border-top-style: none; padding-top: 0px; border-right-style: none; border-left-style: none; height: 18px; border-bottom-style: none
}
#trail h3 {
	background: none /*url(../images/h3-breadcrumb.gif)*/ no-repeat 0px 50%; width: 100px
}
#opportunities h3 {
	background: none no-repeat 0px 50%; width: 148px
}
#trail ul {
	padding-right: 0px; padding-left: 0px; float: left; padding-bottom: 0px; margin: 5px 0px; padding-top: 0px
}
#opportunities ul {
	padding-right: 0px; padding-left: 0px; float: left; padding-bottom: 0px; margin: 5px 0px; padding-top: 0px
}
#trail ul li {
	padding-right: 15px; padding-left: 0px; font-size: 11px; background: none /*url(../images/bg-trail-arrow.gif)*/ no-repeat 100% 50%; float: left; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
#opportunities ul li {
	padding-right: 0px; padding-left: 8px; font-size: 11px; background: none transparent scroll repeat 0% 0%; float: left; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
#trail ul li.last {
	padding-right: 0px; padding-left: 0px; background: none transparent scroll repeat 0% 0%; padding-bottom: 0px; margin-left: 9px; padding-top: 0px
}
#trail a {
	PADDING-RIGHT: 0px; padding-left: 9px; background: none transparent scroll repeat 0% 0%; float: left; PADDING-BOTTOM: 0px; margin: 0px; PADDING-TOP: 0px
}
#investor {
	margin: 10px 15px 0px
}
#investor FIELDSET {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#investor LEGEND {
	display: none
}
#investor LABEL {
	display: none
}
H3.investor {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; margin: 18px 15px 0px; BORDER-LEFT: 0px; TEXT-INDENT: -4000px; BORDER-BOTTOM: 0px
}
#investor P {
	PADDING-RIGHT: 0px; padding-left: 0px; PADDING-BOTTOM: 18px; margin: 0px; color: #fff; PADDING-TOP: 0px
}
#investor P.error {
	PADDING-RIGHT: 0px; padding-left: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; width: 104px; color: #e7eff5; PADDING-TOP: 3px
}
.loggedout {
	background: url(../images/h3-investor-lin.gif) no-repeat 0px 0px; height: 41px
}
.loggedin {
	background: none/*url(../images/h3-investor-lout.gif)*/ no-repeat 0px 0px; height: 23px
}
#investor {
	background: url(../images/dl-divider.gif) repeat-x 100% 100%; PADDING-BOTTOM: 10px
}
#investor a {
	CLEAR: both; PADDING-RIGHT: 0px; margin-top: 10px; display: block; padding-left: 10px; FONT-SIZE: 11px; background: url(../images/bg-dd-arrow.gif) no-repeat 0px 50%; float: left; PADDING-BOTTOM: 0px; width: 170px; color: #2b5275; PADDING-TOP: 0px
}
#investor a:hover {
	color: #fff
}
#investor .field {
	background: url(../images/input-field.gif) #fff no-repeat 0px 0px; margin: 0px 0px 10px; width: 180px; height: 26px
}
#investor INPUT {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; FONT-SIZE: 11px; float: left; margin: 5px 0px 0px 5px; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid
}
#investor #login {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; display: block; float: left; BORDER-LEFT: 0px; CURSOR: pointer; BORDER-BOTTOM: 0px; height: 24px
}
#investor #logout {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; display: block; float: left; BORDER-LEFT: 0px; CURSOR: pointer; BORDER-BOTTOM: 0px; height: 24px
}/*
#investor #login {
background: url(../images/btn-login.gif) no-repeat 0px 0px; width: 66px
}
#investor #logout {
background: url(../images/btn-logout.gif) no-repeat 0px 0px; width: 72px
}*/
#investor #login:hover {
	background-position: 0px -24px
}
#investor #logout:hover {
	background-position: 0px -24px
}
H3.latestnews {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; background: url(../images/h3-latestnews2.gif) no-repeat 0px 0px; margin: 18px 15px 0px; BORDER-LEFT: 0px; TEXT-INDENT: -4000px; BORDER-BOTTOM: 0px; height: 14px
}
DL.latestnews {
	FONT-SIZE: 11px; background: url(../images/dl-divider.gif) repeat-x 0px 0px; margin: 0px 15px; color: #fff; PADDING-TOP: 12px
}
DL.first.latestnews {
	background: none transparent scroll repeat 0% 0%
}
DL.latestnews DT {
	FONT-WEIGHT: bold; margin: 0px; LINE-height: normal; color: #f7921e;/*#93c3ed*/
}
DL.latestnews DD {
	margin: 10px 0px
}
DL.latestnews DD a {
	padding-left: 10px; background: url(../images/bg-dd-arrow.gif) no-repeat 0px 50%; color: #2b5275
}
DL.latestnews DD a:hover {
	color: #fff
}
#morenews {
	PADDING-RIGHT: 0px; display: block; padding-left: 0px; background: url(../images/btn-morenews.gif) no-repeat 0px 0px; PADDING-BOTTOM: 0px; margin: 0px 0px 0px 15px; width: 103px; PADDING-TOP: 0px; height: 24px
}
#morenews:hover {
	background-position: 0px -24px
}
DL.news DT {
	PADDING-RIGHT: 0px; padding-left: 25px; background: url(../images/icon-pdf.gif) #fff no-repeat 0px 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 1px
}
DL.news DT a {
	background: none transparent scroll repeat 0% 0%; color: #699bc9; height: 25px
}
DL.news DT a:hover {
	color: #2b5275
}
DL.news DD {
	padding-left: 25px; margin: 10px 0px; LINE-height: 18px
}
DL.news DD.date {
	FONT-SIZE: 11px; margin: 0px; color: #a5a5a5
}
DL.news DD.source {
	FONT-SIZE: 11px; margin: 0px; color: #a5a5a5
}
.casehistory {
	float: left; width: 438px
}
.spv {
	float: left; width: 438px
}
.aif {
	float: left; width: 438px
}
.event {
	float: left; width: 438px
}
.casehistory .logo {
	float: left; margin: 0px 0px 18px; width: 438px
}
.spv .logo {
	float: left; margin: 0px 0px 18px; width: 438px
}
.aif .logo {
	float: left; margin: 0px 0px 18px; width: 438px
}
.event .logo {
	float: left; margin: 0px 0px 18px; width: 438px
}
.casehistory .shortdescription {
	float: left; width: 438px; PADDING-TOP: 5px
}
.spv .shortdescription {
	float: left; width: 438px; PADDING-TOP: 5px
}
.aif .shortdescription {
	float: left; width: 438px; PADDING-TOP: 5px
}
.event .shortdescription {
	float: left; width: 438px; PADDING-TOP: 5px
}
.event P.dateandtime {
	PADDING-RIGHT: 0px; padding-left: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; margin: 0px; color: #a5a5a5; PADDING-TOP: 0px
}
.event P.venue {
	PADDING-RIGHT: 0px; padding-left: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; margin: 0px; color: #a5a5a5; PADDING-TOP: 0px
}
.event P.venue {
	PADDING-BOTTOM: 8px
}
.staff {
	float: left; width: 438px
}
.staff .photo {
	BORDER-RIGHT: #e7eff5 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #e7eff5 1px solid; padding-left: 0px; float: left; PADDING-BOTTOM: 5px; BORDER-LEFT: #e7eff5 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #e7eff5 1px solid
}
.staff IMG {
	float: left; margin: 5px 5px 0px; width: 88px; height: 128px
}
.staff .shortbios {
	float: right; width: 318px; PADDING-TOP: 5px
}
.staff H4 {
	float: left; width: 438px
}
.job {
	float: left; width: 438px
}
.currentdetails {
	float: left; width: 438px
}
.currentdetails H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.currentdetails P {
	PADDING-RIGHT: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; margin: 0px 0px 10px; PADDING-TOP: 0px
}
.currentdetails a {
	PADDING-RIGHT: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; margin: 0px; PADDING-TOP: 0px
}
#locationmap {
	display: block; background: url(../images/../uploads/images/efg-map.jpg) no-repeat 0px 0px; width: 232px; height: 210px
}
#frm_contact {
	PADDING-RIGHT: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; margin: 0px; width: 438px; PADDING-TOP: 0px
}
#frm_callback {
	PADDING-RIGHT: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; margin: 0px; width: 438px; PADDING-TOP: 0px
}
#frm_request {
	PADDING-RIGHT: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; margin: 0px; width: 438px; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; margin: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
LEGEND {
	display: none
}
LABEL {
	FONT: bold 12px Arial, Helvetica, sans-serif; color: #699bc9
}
LABEL.required {
	PADDING-RIGHT: 8px; background: url(../images/bg-required.gif) no-repeat 100% 2px
}
SELECT {
	FONT: 11px Arial, Helvetica, sans-serif; color: #2b5275
}
INPUT {
	FONT: 11px Arial, Helvetica, sans-serif; color: #2b5275
}
TEXTAREa {
	FONT: 11px Arial, Helvetica, sans-serif; color: #2b5275
}
#frm_callback .column-right {
	float: right; width: 214px
}
#frm_request .column-right {
	float: right; width: 214px
}
#frm_contact #submit {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; display: block; float: left; BORDER-LEFT: 0px; CURSOR: pointer; BORDER-BOTTOM: 0px; height: 34px
}
#frm_callback #submit {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; display: block; float: left; BORDER-LEFT: 0px; CURSOR: pointer; BORDER-BOTTOM: 0px; height: 34px
}
#frm_request #submit {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; display: block; float: left; BORDER-LEFT: 0px; CURSOR: pointer; BORDER-BOTTOM: 0px; height: 34px
}
#frm_contact #submit {
	background: url(../images/btn-submit.gif) no-repeat 0px 0px; width: 88px
}
#frm_callback #submit {
	background: url(../images/btn-submit.gif) no-repeat 0px 0px; width: 88px
}
#frm_request #submit {
	background: url(../images/btn-submit.gif) no-repeat 0px 0px; width: 88px
}
#frm_contact #submit:hover {
	background-position: 0px -34px
}
#frm_callback #submit:hover {
	background-position: 0px -34px
}
#frm_request #submit:hover {
	background-position: 0px -34px
}
.table {
	float: left; margin-BOTTOM: 15px; width: 438px
}
.results {
	PADDING-RIGHT: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; margin: 0px; width: 100%; PADDING-TOP: 0px
}
CAPTION {
	PADDING-RIGHT: 0px; padding-left: 0px; PADDING-BOTTOM: 5px; FONT: italic 11px 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif; PADDING-TOP: 0px; TEXT-ALIGN: right
}
TH {
	BORDER-RIGHT: #cedfeb 1px solid; PADDING-RIGHT: 6px; padding-left: 12px; background: url(../images/bg-table-header.gif) #dce8f2 repeat-x; PADDING-BOTTOM: 7px; FONT: bold 11px Arial, Helvetica, sans-serif; BORDER-LEFT: #fff 1px solid; color: #012e5a; PADDING-TOP: 8px; BORDER-BOTTOM: #9dbad3 1px solid; TEXT-ALIGN: left
}
TH.first {
	BORDER-LEFT: #cedfeb 1px solid
}
TH.nobg {
	BORDER-RIGHT: #cedfeb 1px solid; BORDER-TOP: 0px; background: none transparent scroll repeat 0% 0%; BORDER-LEFT: 0px
}
TD {
    PADDING-RIGHT: 6px;
    PADDING-BOTTOM: 6px;
    PADDING-TOP: 6px;
    /*padding-left: 12px;*/
    /* FONT: 11px auto Arial, Helvetica, sans-serif; */
    background: #fff;
    color: #012e5a;
    BORDER-BOTTOM: #cedfeb 1px solid;
	BORDER-RIGHT: #cedfeb 1px solid;
	BORDER: #cedfeb 1px solid;
	padding: 10px;
}
TD.alt {
	background: url(../images/1px.gif) #f3f7fa repeat-x left top
}
TH.spec {
	BORDER-TOP: 0px; background: #fff; FONT: 11px auto Arial, Helvetica, sans-serif; BORDER-LEFT: #cedfeb 1px solid; BORDER-BOTTOM: #cedfeb 1px solid
}
TH.specalt {
	PADDING-RIGHT: 6px; BORDER-TOP: 0px; padding-left: 12px; background: url(../images/1px.gif) #f3f7fa repeat-x left top; PADDING-BOTTOM: 7px; FONT: 11px auto Arial, Helvetica, sans-serif; BORDER-LEFT: #cedfeb 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #cedfeb 1px solid
}
TD STRONG {
	color: #699bc9
}


/* Navigation */
ul.main-navigation {
	list-style: none;
	padding: 0;
	margin: 0;
	background: #32283d;
}

ul.main-navigation li {
	display: block;
	position: relative;
	float: left;
	padding-left: 0px;
	/*background: #CEBA54;background: #CEBA54 linear-gradient(#CEBA54,#ffee94);*/
	background: #32283d;
	z-index: 11;
}

ul.main-navigation li ul { display: none; }

ul.main-navigation li a {
    display: block;
    padding: 1em 0.6em;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

ul.main-navigation li a:hover { 
	background: #000000;
}
/*ul.main-navigation li:hover a {
	background: #CEBA54;
	background: #CEBA54 linear-gradient(#CEBA54,#ffee94);
}*/

ul.main-navigation li:hover > ul {
	display: block;
	position: absolute;
}

ul.main-navigation li:hover li { float: none; }

ul.main-navigation li:hover li a:hover { background: #000000; }

ul.main-navigation li ul li { border-top: 0; }

ul.main-navigation ul ul {
	left: 100%;
	top: 0;
}

ul:before,
ul:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

ul:after { clear: both; }








.social-links {
    display: inline-block;
    text-align: center;
    width: 32%;
    margin-top: 20px;
}

.social-links i.fa {
    font-size: 20px;
    padding: 0 4px;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    padding-top: 5px;
    margin: 0 2px;
    cursor: pointer;
}

.social-links i.fa-facebook {	
    background: #0066ad;
    color: #fff;
}
.social-links i.fa-twitter {
    background: #4ac7f7;	
    color: #fff;
}
.social-links i.fa-linkedin {
    background: #2b92da;	
    color: #fff;
}
.social-links i.fa-instagram {
    background: #000;
    color: #fff;
}

h4.myname {
    line-height: 37px;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #dc6f04;
}

.home_icici{
	float: left;
    width: 48%;
    font-size: 12px;
    font-weight: bold;
}

.home_icici_img{
	float: right;width: 46%;
}




@keyframes slidy {
0% { left: 0%; }
10% { left: -50%; }
20% { left: -100%; }
30% { left: -150%; }
40% { left: -200%; }
50% { left: -250%; }
60% { left: -300%; }
70% { left: -350%; }
80% { left: -400%; }
90% { left: -450%; }
100% { left: -500%; }
}

div#slider { overflow: hidden; }
div#slider figure img { /*width: 20%;*/ float: left; }
div#slider figure { 
  position: relative;
  width: 1000%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}


#adv-left {
    float: left;
    width: 450px;
    background-color: #b8b8b8;
    margin-top: 20px;
    text-align: right;
}
#adv-right {
    float: right;
    width: 240px;
}

h3.high1{
    border: 0;
    padding: 0px 10px 0;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 27px;
    line-height: 54px;
    text-shadow: 2px 5px 0 rgba(0,0,0,0.2);
    margin: 0;
    color: #198c0c;
}

h5.high1{
    font-size: 18px;
    color: #bf681b;
    padding: 0px 10px 0;
    text-transform: uppercase;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
}

.darker{
	color: #bf681b;
	font-size: 16px;
}

.breadcrumb {
    padding: 10px;
    color: #32283d;
    font-size: 13px;
    background: url(https://rmbiggs.files.wordpress.com/2011/03/repeating-left.png);
    display: block !important;
}

.left-link{
	color: #dc6f04;
    font-size: 15px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    line-height: 24px;
}

.left-border{
	border: 1px solid #dc6f04;
    display: inline-block;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
    width: 85%;
}

.testt {
    display: inline-block;    padding-bottom: 40px;
}

blockquote {
    /* font-size: 16px; */
    padding: 18px 20px 1px 20px;
    margin-left: 35px;
    /*margin-bottom: 40px;*/
    background: #f2f1f6;
    line-height: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

blockquote:before {
    color: #c73401;
    /*font-size: 30px;
    content: "\f10d";
    font-family: FontAwesome;*/
    line-height: 0.5em;
    margin-right: 0.27em;
    float:left;
}

.vertical {
    float: left;
    font-family: verdana, sans-serif;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    transform-origin: right top 0;
    padding: 10px;
    background-color: rgba(37, 34, 34, 0.3);
    background-color: #bf681b;
    opacity: 0.9;
    font-size: 1.8em;
    color: #FFF;
    text-transform: uppercase;
    margin-left: -25%;
}
.clientlogo ul {
    width: 100%;
    display: table;
}
.clientlogo ul li{
	width: 22%;
	height: 85px;
    /*width: 30%;
    height: 150px;*/
	float: left;
    list-style: none;
    background: none;
    padding: 0;
    margin: 1%;
    vertical-align: middle;
    display: table-cell;
    border: 1px solid #aaa;
    text-align: center;    
    position: relative;
}
.clientlogo img {  
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.album ul {
    width: 100%;
    display: table;
}
.album ul li{
	width: 32%;
	/*height: 85px;*/
    /*width: 30%;
    height: 150px;*/
	float: left;
    list-style: none;
    background: none;
    padding: 0;
    margin: 1%;
    vertical-align: middle;
    display: table-cell;
    border: 1px solid #aaa;
    text-align: center;    
    position: relative;
}
.album img {
    /*position: absolute;*/
}

i.fa.fa-file-pdf-o {
    font-size: 30px;
    line-height: 40px;
    color: #de0909;
    vertical-align: middle;
}

form.ccc.contactForm {
    background: #d3d2d2;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
}

.contactForm label{
	text-transform: capitalize;
}

.greep{
	padding: 10px;
    background: #ddd;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 1px 1px 9px #000;
}

h3.horiz {
    position: absolute;
    left: -50%;
    margin-top: 25px;
    background: #dbdada;
    padding: 5px;
    border-radius: 10px;
    width: auto !important;
}
.clientalbums {
    position: relative;
}
.clearfix {
    clear: both;
}
.whobox {
    width: 46%;
    float: left;
    padding: 1%;
    background: #eee;
    margin: 1%;
}